html {
    padding: 0;
    margin: 0;
    background: rgb(15,7,148);
    background: linear-gradient(90deg, rgba(15,7,148,1) 0%, rgba(30,30,187,1) 17%, rgba(0,212,255,1) 100%);
}

h1 {
    margin: 0px;
}

body {
    padding: 0;
    margin: 0;
}